.promo {
    min-height: 680px;
    background: url('../img/promo-bg.jpg') center (center / cover) no-repeat;
    padding: 23px 0 82px 0;
    .header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__logo {
            display: block;
            width: 96px;
            height: 100px;
            img {
                width: 100%;
            }
        }
        &__menu {
            width: 650px;
            ul {
                list-style-type: none;
                display: flex;
            }
            &-item {
                position: relative;
                padding: 0 10px;
                border-right: 1px dotted rgba(255, 255, 255, 0.6);
                &:last-child {
                    border: none;
                }
            }
            &-link {
                color: #ffffff;
                font-size: 15px;
                font-weight: 400;
                &:hover {
                    color: $main-color;
                }
            }
        }
        &__info {
            display: flex;
            flex-direction: column;
            color: #ffffff;
            font-size: 14px;
            font-weight: 300;
            line-height: 19px;
            text-align: right;
            a {
                color: #ffffff;
                font-size: 19px;
                font-weight: 600;
            }
        }
    }
    &__text{
        color: #ffffff;
        font-size: 24px;
        font-weight: 300;
        text-align: center;
        margin-top: 9px;
    }
    &__title{
        color: $main-color;
        font-size: 72px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        margin-top: 26px;
    }
    &__subtitle {
        color: #ffffff;
        font-size: 42px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        margin-top: 9px;
    }
    &__divider{
        display: block;
        margin: 0 auto;
        margin-top: 38px;
    }
    &__wrapper{
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
    }
    &__item{
        width: 257px;
        &-img{
            display: block;
            margin: 0 auto;
        } 
        &-text{
            margin-top: 19px;
            color: #ffffff;
            font-size: 16px;
            font-weight: 300;
            line-height: 20px;
            text-align: justify;
        }
    }
}